name: pull request target

on: pull_request_target

env:
  TESTING_SECRET_STRING: ${{ secrets.TESTING_SECRET_STRING }}

jobs:
  CheckUserPermission:
    permissions:
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Get User Permission
        id: checkUserPermission
        uses: actions-cool/check-user-permission@v2
        with:
          require: write
          username: ${{ github.triggering_actor }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Check User Permission
        if: steps.checkUserPermission.outputs.require-result == 'false'
        id: slack
        uses: slackapi/slack-github-action@v1.27.0
        with:
          payload: |
            {
              "MESSAGE": "${{github.actor}} opened a PR from a fork. Please carefully review the code and retry failed jobs.",
              "GHA_LINK": "${{github.server_url}}/${{github.repository}}/actions/runs/${{github.run_id}}"
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
      - name: Add comment to add helpful context for contributors
        if: steps.checkUserPermission.outputs.require-result == 'false'
        uses: thollander/actions-comment-pull-request@v2.5.0
        with:
          comment_tag: execution
          message: |
            Thanks for the PR @${{github.actor}} :wave:

            Our GitHub actions pipelines require a user with write permissions to retry the failed jobs. We've sent a message to a maintainer to review your PR. Please be patient and we'll get back to you as soon as possible.
      - name: Fail if No Write Permission
        if: steps.checkUserPermission.outputs.require-result == 'false'
        run: exit 1

  RunTest:
    runs-on: ubuntu-latest
    needs: CheckUserPermission
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Test
        run: |
          if [[ "x${{ secrets.TESTING_SECRET_STRING }}" == "xtesting-value" ]]; then
            echo "Access to secrets"
          else
            echo "No access to secrets"
            exit 1
          fi
      - name: Readme
        run: cat README.md
